/* src/Legend.css */
.legend {
    position: absolute;
    top: 30%;
    right: 10px;
    background: white;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .legend h4 {
    margin: 0 0 5px;
  }
  
  .legend ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .legend li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .legend .marker-icon {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #000;
  }
  